<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the contact
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. This was done by Alejandro Escobar, starting programmer.
</p>
<p>
	You can contact him at 
	<a href="mailto:alejoescobac@gmail.com">his email</a>.
</p>
